nav {
    height: 500px;
    display:flex;
    justify-content: center;
    padding-top: 50px;
}
main {
    height: 600px;
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
canvas {
    background-color: black;
    height: 600px;
}
h1 {
    display:flex;
    justify-content: center;
}
#formContainer {
    background-color: hsla(240, 100%, 68%, 0.658);
    height: 300px;
    width:300px;
    border-radius: 15px;
}
img {
    margin-top: 80px;
    padding-left: 20px;
    height: 150px;
}
#formContainer, #userForm {
    text-align: center;
    padding-top: 20px;
}